@{
    ViewData["Title"] = "Family Reports";
}

<h2>Family Reports</h2>

<div class="mb-3">
    <p><a asp-action="FamilyReport" asp-route-format="pdf" class="btn btn-primary">Family Report (PDF)</a></p>
    <p><a asp-action="FamilyReport" asp-route-format="excel" class="btn btn-primary">Family Report (Excel)</a></p>
</div>