@using Microsoft.AspNetCore.Identity
@using StThomasMission.Core.Entities;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link text-white" title="Manage">Hello @UserManager.GetUserName(User)! </a>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" style="display:inline;">
        <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary">Login</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-success">Register</a>
}